{% extends 'base.html' %}

{% block content %}
<div class="z-10 flex items-center justify-center flex-col mx-7" style=" height: calc(100vh - 79px)">
    <div class="flex flex-col rounded-lg bg-white p-8">
        <p class="text-2xl font-semibold mb-4 text-center">Cluster Graph</p>
        <div class="flex items-center justify-center gap-10 sm:flex-row flex-col ">
            <div class="flex flex-col gap-4">
                <p class="text-center font-semibold text-2xl">Legend</p>
                <div class="flex gap-2 flex-col">
                    <div class="flex items-center gap-2">
                        <span class="w-4 h-4 bg-black block"></span>
                        <p class="uppercase font-semibold">morning schedules</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <span class="w-4 h-4 bg-rose-600 block"></span>
                        <p class="uppercase font-semibold">afternoon schedules</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <span class="w-4 h-4 bg-emerald-600 block"></span>
                        <p class="uppercase font-semibold">evening schedules</p>
                    </div>
                </div>
            </div>
            <div class="flex w-62 h-62 gap-4 border-b border-black px-2">
                <a href="morning_graph">
                    <div class="bg-black w-20 h-80">
                        <div class=" bg-white w-full h-3/5"></div>
                    </div>
                </a>
                <a href="afternoon_graph">
                    <div class="bg-rose-600 w-20 h-80">
                        <div class=" bg-white w-full h-4/5"></div>
                    </div>
                </a>
                <a href="evening_graph">
                    <div class="bg-emerald-600 w-20 h-80">
                        <div class="bg-white  w-full h-2/5"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}