{% extends 'base.html' %}

{% block content %}
<div class="z-10 flex items-center justify-center flex-col mx-7" style=" height: calc(100vh - 79px)">
    <div class="rounded-lg bg-white flex flex-col gap-4 p-8 items-start justify-center">
        <div class="flex gap-10 items-center sm:flex-row flex-col sm:items-end">
            <div class="bg-emerald-600 w-40 h-80">
                <div class=" bg-white w-full h-2/5"></div>
            </div>
            <div>
                <p class="text-2xl font-semibold mb-4 uppercase">Dashboard</p>
                <div>
                    <p class="uppercase">Programming 1: 7:00 AM - 10:00 AM</p>
                    <p class="uppercase">Programming 2: 8:00 AM - 11:00 AM</p>
                    <p class="uppercase">Object Oriented Programming 1: 7:30 AM - 10:30 AM</p>
                    <p class="uppercase">Object Oriented Programming 2: 9:00 AM - 11:00 AM</p>
                    <p class="uppercase">data structures and algorithm: 8:00 AM - 11:00 AM</p>
                </div>
                <p class="text-2xl font-semibold mb-4 uppercase">average grade</p>
                <div>
                    <p class="uppercase">Programming 1: 1.25</p>
                    <p class="uppercase">Programming 2: 1.50</p>
                    <p class="uppercase">Object Oriented Programming 1: 2.00</p>
                    <p class="uppercase">Object Oriented Programming 2: 1.75</p>
                    <p class="uppercase">data structures and algorithm: 1.00</p>
                </div>
            </div>
        </div>
        <a href="cluster_graph" class="p-4 py-2 rounded-lg text-white bg-slate-900">Back</a>

    </div>
</div>
{% endblock %}