{% extends 'base.html' %}

{% block content %}
<div class="z-10 sm:flex block items-center justify-center flex-col mx-7 py-4" style=" min-height: calc(100vh - 79px)">
    <div class="flex rounded-lg bg-white p-8">
        <form action="{{url_for('individual_data')}}" method="POST" class="w-full">
            {% if submitted %}
            {% if success %}
            <p class=" text-center mb-4 bg-emerald-500 text-white p-4 rounded-lg font-semibold">
                Student data has been added successfully!
            </p>
            {% else %}
            {% if isDuplicate %}
            <p class=" text-center mb-4 bg-rose-500 text-white p-4 rounded-lg font-semibold">
                Student Number already exist!
            </p>
            {% else %}
            <p class=" text-center mb-4 bg-rose-500 text-white p-4 rounded-lg font-semibold">
                Something went wrong, Please try again!
            </p>
            {% endif %}
            {% endif %}
            {% endif %}
            <div class="flex gap-4 flex-col">
                <div id="page1">
                    <p class="text-2xl font-semibold mb-4">Student Profile</p>
                    <div class="flex gap-4 sm:flex-row flex-col">
                        <div class="flex gap-4 flex-col">
                            <div class="flex flex-col gap-2">
                                <label for="flname" class="font-semibold uppercase">Full Name:</label>
                                <input required type="text" class="p-4 rounded-lg border" name="fullname" id="flname"
                                    placeholder="John Doe" />
                            </div>
                            <div class="flex flex-col gap-2">
                                <label for="year" class="font-semibold uppercase">Year:</label>
                                <select required name="year" class="p-4 rounded-lg border" id="year">
                                    <option value="3rd Year">
                                        3rd Year
                                    </option>
                                    <option value="4th Year">
                                        4th Year
                                    </option>
                                </select>
                            </div>
                            <div class="flex flex-col gap-2">
                                <label for="section" class="font-semibold uppercase">Section:</label>
                                <select name="section" required class="p-4 rounded-lg border" id="section">
                                    <option value="A-G1, A-G2">
                                        A-G1, A-G2</option>
                                    <option value="B-G1, B-G2">
                                        B-G1, B-G2</option>
                                    <option value="C-G1, C-G2">
                                        C-G1, C-G2</option>
                                    <option value="D-G1, D-G2">
                                        D-G1, D-G2</option>
                                    <option value="E-G1, E-G2">
                                        E-G1, E-G2</option>
                                    <option value="F- G1, F-G2">
                                        F- G1, F-G2</option>
                                    <option value="G-G1, G-G2">
                                        G-G1, G-G2</option>
                                    <option value="H-G1, H-G2">
                                        H-G1, H-G2</option>
                                    <option value="I-G1, I-G2">
                                        I-G1, I-G2</option>
                                    <option value="J-G1, J-G2">
                                        J-G1, J-G2
                                    </option>
                                </select>
                            </div>
                            <div class="flex flex-col gap-2">
                                <label for="email" class="font-semibold uppercase">Email:</label>
                                <input name="email" required type="email" class="p-4 rounded-lg border" id="email"
                                    placeholder="johndoe@gmail.com" />
                            </div>
                        </div>
                        <div class="flex gap-4 flex-col">
                            <div class="flex flex-col gap-2">
                                <label for="province" class="font-semibold uppercase">Province:</label>
                                <select name="province" required class="p-4 rounded-lg border" id="province"
                                    placeholder="John Doe">
                                    <option value="Bulacan">Bulacan</option>
                                    <option value="Pampanga">Pampanga</option>
                                </select>
                            </div>
                            <div class="flex flex-col gap-2">
                                <label for="municipality" class="font-semibold uppercase">Municipality:</label>
                                <select name="municipality" required class="p-4 rounded-lg border" id="municipality">
                                    <option value="Angat">
                                        Angat
                                    </option>
                                    <option value="Balagtas">
                                        Balagtas
                                    </option>
                                    <option value="Baliwag">
                                        Baliwag
                                    </option>
                                    <option value="Bocaue">
                                        Bocaue
                                    </option>
                                    <option value="Bulakan">
                                        Bulakan
                                    </option>
                                    <option value="Bustos">
                                        Bustos
                                    </option>
                                    <option value="Calumpit">
                                        Calumpit
                                    </option>
                                    <option value="Dona Remedios Trinidad">
                                        Dona Remedios Trinidad
                                    </option>
                                    <option value="Guiguinto">
                                        Guiguinto
                                    </option>
                                    <option value="Hagonoy">
                                        Hagonoy
                                    </option>
                                    <option value="Malolos">
                                        Malolos
                                    </option>
                                    <option value="Marilao">
                                        Marilao
                                    </option>
                                    <option value="Meycauayan">
                                        Meycauayan
                                    </option>
                                    <option value="Norzagaray">
                                        Norzagaray
                                    </option>
                                    <option value="Obando">
                                        Obando
                                    </option>
                                    <option value="Pandi">
                                        Pandi
                                    </option>
                                    <option value="Paombong">
                                        Paombong
                                    </option>
                                    <option value="Plaridel">
                                        Plaridel
                                    </option>
                                    <option value="Pulilan">
                                        Pulilan
                                    </option>
                                    <option value="San Ildefonso">
                                        San Ildefonso
                                    </option>
                                    <option value="San Jose Del Monte">
                                        San Jose Del Monte
                                    </option>
                                    <option value="San Miguel">
                                        San Miguel
                                    </option>
                                    <option value="San Rafael">
                                        San Rafael
                                    </option>
                                    <option value="Santa Maria">
                                        Santa Maria
                                    </option>
                                </select>
                            </div>
                            <div class="flex flex-col gap-2">
                                <label for="student_number" class="font-semibold uppercase">Student Number:</label>
                                <input name="studentnumber" required type="number" class="p-4 rounded-lg border"
                                    id="student_number" placeholder="10000132667" />
                            </div>
                            <div class="flex flex-col gap-2">
                                <label for="classification" class="font-semibold uppercase">Student
                                    Classification:</label>
                                <select name="studentclassification" required class="p-4 rounded-lg border"
                                    id="classification">
                                    <option value="regular">
                                        Regular
                                    </option>
                                    <option value="irregular">
                                        Irregular
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="page2">
                    <p class="text-2xl font-semibold mb-4">Input Grades</p>
                    <div class="gap-4 flex flex-col">
                        <div class="flex flex-col gap-2">
                            <label for="grade1" class="font-semibold uppercase">Programming 1</label>
                            <select name="gradep1" class="p-4 rounded-lg border" id="grade1">
                                <option value="">---</option>
                                {% for g in grades %}
                                <option value="{{g}}">
                                    {{g}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="grade2" class="font-semibold uppercase">Programming 2</label>
                            <select name="gradep2" class="p-4 rounded-lg border" id="grade2">
                                <option value="">---</option>
                                {% for g in grades %}
                                <option value="{{g}}">
                                    {{g}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="grade3" class="font-semibold uppercase">Object Programming 1</label>
                            <select name="gradeop1" class="p-4 rounded-lg border" id="grade3">
                                <option value="">---</option>
                                {% for g in grades %}
                                <option value="{{g}}">
                                    {{g}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="grade4" class="font-semibold uppercase">Object Programming 2</label>
                            <select name="gradeop2" class="p-4 rounded-lg border" id="grade4">
                                <option value="">---</option>
                                {% for g in grades %}
                                <option value="{{g}}">
                                    {{g}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="grade5" class="font-semibold uppercase">Data Structure and
                                Algorithm</label>
                            <select name="gradedata" class="p-4 rounded-lg border" id="grade5">
                                <option value="">---</option>
                                {% for g in grades %}
                                <option value="{{g}}">
                                    {{g}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                </div>
                <div id="page3">
                    <p class="text-2xl font-semibold mb-4">Input Schedules</p>
                    <div class="gap-4 flex flex-col">
                        <div class="flex flex-col gap-2">
                            <label for="sched1" class="font-semibold uppercase">Programming 1</label>
                            <select name="schedp1" class="p-4 rounded-lg border" id="sched1">
                                <option value="">---</option>
                                {% for s in schedules %}
                                <option value="{{s}}">
                                    {{s}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="sched2" class="font-semibold uppercase">Programming 2</label>
                            <select name="schedp2" class="p-4 rounded-lg border" id="sched2">
                                <option value="">---</option>
                                {% for s in schedules %}
                                <option value="{{s}}">
                                    {{s}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="sched3" class="font-semibold uppercase">Object Programming 1</label>
                            <select name="schedop1" class="p-4 rounded-lg border" id="sched3">
                                <option value="">---</option>
                                {% for s in schedules %}
                                <option value="{{s}}">
                                    {{s}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="sched4" class="font-semibold uppercase">Object Programming 2</label>
                            <select name="schedop2" class="p-4 rounded-lg border" id="sched4">
                                <option value="">---</option>
                                {% for s in schedules %}
                                <option value="{{s}}">
                                    {{s}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="sched5" class="font-semibold uppercase">Data Structure and
                                Algorithm</label>
                            <select name="scheddata" class="p-4 rounded-lg border" id="sched5">
                                <option value="">---</option>
                                {% for s in schedules %}
                                <option value="{{s}}">
                                    {{s}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                </div>
                <div class="flex items-center justify-end gap-4 mt-4">
                    <a href="/" class="p-4 rounded-lg bg-slate-300 w-full text-center">Cancel</a>
                    <button type="submit" class="p-4 rounded-lg text-white bg-slate-900 w-full">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}